<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>District Home</title>
  </head>

  <body>
    <div class="main">
        <div class="districtinfo">
            <h2>Welcome <%=user.firstname%> <%=user.lastname%></h2>
            <h1>District <%=district.id%></h1>
            <h2><%=district.county%>,<%=district.state%></h2>
            <h2><%=cistrict.population%></h2></h2>
        </div>
        <div class="positions">
            
        </div>
    </div>
  </body>
</html>
